<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table border="1">
            <tr>
                <th>Название</th>
                <th>ID</th>
            </tr>
{% for wppost in wpposts %}
            <tr>
                <td>{{ wppost.post_title }}</td>
                <td>{{ wppost.id }}</td>
            </tr>
{% endfor %}
        </table>
</body>
</html>