{% if latest_articles_list %}
    <ul>
    {% for post in latest_articles_list %}
        <li><a href="{{ post.guid }}">{{ post.post_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No articles are available.</p>
{% endif %}