<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анализ текста статьи</title>
</head>
<body>
<h1>Анализ текста</h1>
<h2>{{wppost.post_title}}</h2>
<div>
    wppost.post_title
</div>
</body>
</html>