<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>
  <body class="fixed-nav" id="page-top">
    <table border="1">
        <tr>
            <th>Название</th>
            <th>ID</th>
        </tr>
{% for wppost in object_list %}
        <tr>
            <!--<td><a href="/polls/post/{{wppost.id}}">{{ wppost.post_title }}</a></td>-->
            <td><a href="{{wppost.guid}}">{{ wppost.post_title }}</a></td>
            <td>{{ wppost.id }}</td>
            <td>{{ wppost.custom_val }}</td>
        </tr>
        {% for ngram in wppost.ngrams %}
        <tr style="background:#ccc; font-size: 10px;">
            <td>
                {{ ngram.0 }}
            </td>
            <td>
                {{ ngram.1 }}
            </td>
        </tr>
        {% endfor %}
{% endfor %}
    </table>

{% if is_paginated %}
  <nav>
    <ul class="pagination" style="display: inline;">
       {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %} style="display: inline;">
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
</body>
</html>