<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
      {% load static %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

  </head>
  <body class="fixed-nav" id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="#">WebInForceSeo</a>
  </nav>
   <div class="content-wrapper py-4">

      <div class="container-fluid">

        <form action="." method="post" id="myform">
                {% csrf_token %}
                {{ form.search_query }}

      <div class="row">
          <div class="col-lg-4">
               <div class="card">
                  <div class="card-header">
                    <i class="fa fa-sliders"></i>
                    Параметры
                  </div>

                  <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item">
                            Качество текста по закону ципфа:
                        <label class="switch">
                          {{ form.ciphs_law }}
                          <span class="slider round"></span>
                        </label>
                        </li>

                        <li class="list-group-item">
                            Классическая тошнота:
                            <label class="switch">
                              {{ form.classic_toshnota }}
                              <span class="slider round"></span>
                            </label>
                        </li>

                      <li class="list-group-item">
                            Академическая тошнота:
                            <label class="switch">
                              {{ form.academ_toshnota }}
                              <span class="slider round"></span>
                            </label>
                        </li>

                      <li class="list-group-item">
                          Водность:
                        <label class="switch">
                           {{ form.vodnost }}
                          <span class="slider round"></span>
                        </label>
                      </li>

                      <li class="list-group-item">
                          Заспамленность:
                        <label class="switch">
                           {{ form.full_of_spam }}
                          <span class="slider round"></span>
                        </label>
                      </li>

                      <li class="list-group-item">
                          Туманность Ганнинга:
                        <label class="switch">
                           {{ form.gunning }}
                          <span class="slider round"></span>
                        </label>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer small text-muted">
                    Список параметров, которые будем рассчитывать
                  </div>
               </div>
          </div>
          <div class="col-lg-4">
               <div class="card">
                  <div class="card-header">
                    <i class="fa fa-link"></i>
                    Ссылки
                  </div>
                  <div class="card-body">
                      {{ form.extra_urls }}
                  </div>
                  <div class="card-footer small text-muted">
                    Список ссылок для аналализа
                  </div>
               </div>
          </div>
          <div class="col-lg-4">
               <div class="card">
                  <div class="card-header">
                    <i class="fa fa-filter"></i>
                    Фильтры
                  </div>
                  <div class="card-body">
                    {{ form.stop_domains }}
                  </div>
                  <div class="card-footer small text-muted">
                    Список сайтов, которых исключаем из из анализа
                  </div>
               </div>
          </div>

      </div>
            <div class="row" style="margin-top: 20px;">
                <div style="margin: 0 auto; text-align: center;" class="col-lg-12">
                    <input id="waiting_response" type="hidden" value="0"/>
                    <input id="test" class="btn-lg btn-primary" type="button" value="Анализировать" />
                    <input id="download_csv" class="btn-lg btn-success" type="button" value="CSV" />
                </div>
            </div>
    </form>
          <div class="row">
              <div class="col-lg-12">
                  <div class="card-header">
                     <i class="fa fa-table"></i> Анализ ссылок
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-bordered">
                              <thead>
                              <tr>
                                  <th style="width:150px;">URL</th>
                                  <th style="width:80px;">Количество слов</th>
                                  <th style="width:80px;">Классическая тошнота</th>
                                  <th style="width:80px;">Академ. тошнота</th>
                                  <th style="width:80px;">Водность</th>
                                  <th style="width:80px;">Заспамленность</th>
                                  <th style="width:80px;">Закон Ципфа</th>
                                  <th style="width:80px;">Ганнинг</th>
                              </tr>
                              </thead>
                              <tbody id="table_of_links">

                              </tbody>
                              <tbody id="table_of_google">

                              </tbody>
                              <tbody id="table_of_yandex">

                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
    {% if pagetitle %}
          <div class="row">
              <div class="col-lg-12">
                <div class="card mb-3">
                      <div class="card-header">
                        <i class="fa fa-table"></i>
                        Список url из google  по запросу "{{ pagetitle }}"
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                            <thead>
                              <tr>
                                <th>Позиция</th>
                                <th>Источник</th>
                                <th>url</th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th>Позиция</th>
                                <th>Источник</th>
                                <th>url</th>
                              </tr>
                            </tfoot>
                            <tbody>
                    {% for gurl in google_urls %}
                         <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ gurl}}</td>
                             <td>google.com</td>
                         </tr>
                    {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                </div>
              </div>
          </div>

    {% endif %}
      </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
    <div class="for_loader">
         <div class="loader"></div>
     </div>
      <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>
</body>
</html>